* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  background: transparent;
  border: none;
  padding: 7px 22px;
  background-color: #251d58;
  color: white;
}

.navbar {
  background: #f6f6f6;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  color: #251d58;
}

.navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 80vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #251d58;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: white;
  }

  .navbar__btn {
    padding-bottom: 2rem;
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* banner styles */
#banner {
  background-color: #f6f6f6;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
}
.banner_content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .banner_content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .banner_img {
    margin-top: 25px;
  }
}
.banner_content_wrapper > div > h1 {
  font-weight: 600;
  font-size: 60px;
  color: #251d58;
}

.banner_content_wrapper > div > p {
  margin-bottom: 20px;
}

/* our latest design section */
#our_latest_design_section {
  margin-top: 100px;
}
.design_section_heading_content {
  text-align: center;
}
.design_section_heading_content > h2 {
  font-size: 34px;
  color: #251d58;
}
.design_section_heading_content > p {
  color: #251d58;
}

.design_section_content,
.services_section_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .design_section_content,
  .services_section_content {
    display: flex;
    flex-direction: column;
  }
}
.design_section_content > div {
  margin: 0px 10px;
}
.services_section_content > div {
  margin: 25px;
}
.design_section_content > div > a > img {
  border-radius: 7px;
}
.services_section_content > div > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.design_footer_content {
  text-align: center;
  color: #251d58;
}
.design_place_items {
  font-weight: 600;
}

#testimonial {
  margin-top: 100px;
  background-color: #f6f6f6;
  height: 450px;
  display: flex;
  align-items: center;
}
.testimonial_title > h2 {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  color: #251d58;
}

.testimonial_grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

@media (max-width: 768px) {
  .testimonial_grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
  }
}
.testimonial_grid > div {
  background-color: #ffffff;
  margin: 10px;
  text-align: center;
  padding: 16px;
  border-radius: 7px;
}
.testimonial_grid > div > div {
  margin-bottom: 10px;
}
#contact {
  margin-top: 100px;
}
.contact_heading_content {
  text-align: center;
  color: #251d58;
}
.contact_heading_content > h2 {
  font-size: 34px;
}

#form {
  margin-top: 25px;
}
#form > div {
  display: flex;
}
.input_control {
  border: none;
  outline: none;
  background-color: #f6f6f6;
  padding: 13px 15px;
  width: 100%;
  margin: 10px 10px;
}

/* footer */

footer {
  background-color: #251d58;
  color: white;
  margin-top: 100px;
}
.footer_content {
  display: flex;
  padding: 50px 0px;
}
.footer_content > div {
  width: 30%;
  text-align: left;
  align-items: center;
}

.footer_content > div > h4 {
  margin-bottom: 15px;
}
.footer_content > div > ul > li > a {
  color: white;
}
.develep_by {
  padding: 16px;
  text-align: center;
  font-weight: 400;
}
